:root {
    /* ##Primary */
    --Violet: hsl(257, 40%, 49%);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-image: url("../starter-files/images/bg-mobile.svg");
    background-repeat: no-repeat;
    background-color: var(--Violet);
    padding: 40px 34px;
}

.logo {
    height: 33px;
}

.hero-illustration {
    margin: 60px 0;
    height: 212px;
}

.hero-message-title {
    color: #fff;
    font-size: 24px;
    font-family: 'poppins';
    font-weight: 700;
    text-align: center;
    line-height: 36px;
    margin-bottom: 14px;
}

.hero-text {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    font-family: 'open sans';
    color: #fff;
    font-weight: 400;
    margin-bottom: 25px;
}

button {
    padding: 10px 74px;
    border-radius: 20px;
    border: none;
    margin: 0 auto;
    text-align: center;
    display: block;
}

footer {
    padding-bottom: 34px;
    margin-top: 63px;
    color: #fff;
    text-align: center;
}

.social-media-handle i {
    border: 2px solid #fff;
    margin: 30px 20px 15px 0;
    padding-top: 5px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}



.attribution {
    font-size: 11px;
}

.attribution a {
    color: #fff;
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    body {
        background-image: url("../starter-files/images/bg-desktop.svg");
        background-repeat: no-repeat;
        height: 100vh;
        background-color: var(--Violet);
        padding: 40px 34px;
    }

    .logo {
        height: 66px;
    }

    .hero-illustration {
        height: 400px;
        margin-left: 10%;
    }

    .attribution a {
        font-size: 14px;
    }
}

@media screen and (min-width: 1024px) {
    .hero-container {
        width: 80%;
    }

    .logo {
        height: auto;
    }

    .hero-illustration {
        height: auto;
    }

    .hero-message {
        margin-left: 4%;
        text-align: left;
    }

    .hero-message-title {
        text-align: left;
        font-size: 18px;
    }

    .hero-message p {
        text-align: left;
        font-size: 16px;
    }
}